<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${quiz.quiz.title} + ' - Quiz'"></title>
</head>
<body>
<h1 th:text="${quiz.quiz.title}"></h1>
<form th:action="@{/quiz/submit}" method="post">
    <input type="hidden" name="quizId" th:value="${quiz.quiz.id}" /> <!-- 퀴즈 ID 추가 -->
    <div>
        <h3>문제:</h3>
        <p th:text="${quiz.quiz.question}"></p> <!-- 퀴즈 질문 표시 -->
        <div th:each="option : ${quiz.quiz.options}">
            <input type="radio" th:name="'answer'" th:value="${option}" />
            <label th:text="${option}"></label>
        </div>
    </div>
    <button type="submit">제출하기</button>
</form>
<a href="/quiz" class="btn btn-primary">퀴즈 목록으로 돌아가기</a>
</body>
</html>
