.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

.footer {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
    line-height: 1.4;
    text-align: left;
    }

/* 카테고리등록 */
.cateRegist h1 {
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    color: #333; /* 제목 색상 */
}

.cateRegist form {
    background: white; /* 폼 배경색 */
    padding: 20px; /* 여백 */
    border-radius: 8px; /* 모서리 둥글게 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    display: flex;
    flex-direction: column;
    width: 300px; /* 폼 너비 */
}

.cateRegist input {
    padding: 10px; /* 입력 필드 여백 */
    margin-bottom: 15px; /* 입력 필드 간격 */
    border: 1px solid #ccc; /* 테두리 색상 */
    border-radius: 4px; /* 테두리 둥글게 */
    font-size: 16px; /* 글자 크기 */
}

.cateRegist input:focus {
    border-color: #007bff; /* 포커스 시 테두리 색상 */
    outline: none; /* 기본 아웃라인 제거 */
}

.cateRegist button {
    padding: 10px; /* 버튼 여백 */
    background-color: #007bff; /* 버튼 배경색 */
    color: white; /* 버튼 글자색 */
    border: none; /* 테두리 제거 */
    border-radius: 4px; /* 버튼 모서리 둥글게 */
    font-size: 16px; /* 글자 크기 */
    cursor: pointer; /* 커서 모양 변경 */
    transition: background-color 0.3s; /* 배경색 전환 효과 */
}

.cateRegist button:hover {
    background-color: #0056b3; /* 호버 시 버튼 색상 */
}
